.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Estilos generales */
body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    padding: 20px;
}

/* Estilo para el carrito */
h2 {
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

/* Contenedor del carrito */
div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los productos */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 0.9em;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #333;
    transform: scale(1.05);
}

button:active {
    background-color: #111;
}

button:focus {
    outline: none;
}

/* Estilo para el mensaje cuando el carrito está vacío */
p {
    color: #888;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Estilo para el botón de "Recibo" */
button[type="button"]:last-of-type {
    background-color: #007BFF;
    color: white;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="button"]:last-of-type:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}